bin
obj
/.vs
/src/Delta.Standard.Gateway.Api/bin
/src/Delta.Standard.Gateway.Api/obj
/src/Delta.Standard.Gateway.Api/Delta.Standard.Gateway.Api.user
/src/Delta.Standard.Gateway.Api/Delta.Standard.Gateway.Api.user
